MYSQL_DATABASE=db
MYSQL_HOST=localhost
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=user
MYSQL_PASSWORD=1
MYSQL_PORT=3306
MYSQL_FORWARD_PORT=3306
SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:root@localhost:3306/db?charset=utf8mb4
VBPL_BASE_URL=https://vbpl.vn/
VBPL_PDF_BASE_URL=https://bientap.vbpl.vn/
ANLE_BASE_URL=https://anle.toaan.gov.vn
CONCETTI_BASE_URL=https://api.concetti.vn
TVPL_BASE_URL=https://thuvienphapluat.vn
CONG_BAO_BASE_URL=https://congbao.chinhphu.vn
LUAT_VN_BASE_URL=https://luatvietnam.vn/
