beautifulsoup4==4.11.1
lxml==4.9.3
alembic==1.6.5
SQLAlchemy==1.4.17
SQLAlchemy-Utils==0.37.7
python-dotenv==0.17.1
PyMySQL==1.0.2
pydantic==1.8.2
requests==2.25.1
pdfplumber~=0.9.0
urllib3==1.26.16
ghostscript=0.7.0
aiohttp==3.8.5
bs4~=0.0.1
aspose-words==23.9.0
Levenshtein==0.21.1
yarl~=1.9.2